.main-block {
    padding: 10px;
}

.main-form{
    padding-top: 25px;
}

.plot{
    margin-top: 20px;
}
b
.example{
    font-size: 0.7em;
}

g.mpld3-xaxis, g.mpld3-yaxis{
    display:none
}

#download-report{
    margin-left: 10px;
}

.logo{
    width: 310px;
    margin-bottom: 40px;
}

.content{
    margin-left: 15px;
}

#suggest-idx{
    margin-left: 25px;
}